Flask
requests
numpy
Pillow
keras
matplotlib
jupyter
jupyter-client
jupyter-console
jupyter-core
jupyter-http-over-ws
jupyterlab-pygments
jupyterlab-widgets
notebook
tensorboard
tensorboard-plugin-wit
tensorflow
tensorflow-io==0.29.0
tensorflow-datasets
tensorflow-estimator
tensorflow-examples @ git+https://github.com/tensorflow/examples.git
tensorflow-metadata